.dropContent{
    display: none;
    list-style-type: none;
}
.drop:hover .dropContent{
    display: block;
}
.dropContent li{
    float: none;
    display: block;
    color: white;
    background-color: green;
}
.dropContent li:hover{
    background-color: red;
}
